@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import './colors.scss';
@import './utils.scss';

$primary-color: #a0e4b0;
// box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    background-color: $primary-color;
    color: #333;
    overflow-y: hidden;
    overflow-x: hidden;
}

.app-container{
    display: flex;
    background-color: #fff;
    border-radius: 7px;
    margin-top: .25rem;
    transform: scaleX(.98) scaleY(.98);
    height: 98.5vh;
}


.menu__icon{
    display: none;
}

// Navbar START
.main__nav{
    max-width: 20%;
    .navbar__logo{
        margin: 1rem;
        width: 65%;
    }
    .navbar{
        padding: 1rem;
        background-color: #fff;
        margin: .4rem;
        padding: 1.5rem;
        border-radius: 40px;
        
        ul{
            margin-top: 1.3rem;
            list-style: none;
            li{
                text-decoration: none;
                width:fit-content;
                font-style: none;
                font-weight: 600;
                letter-spacing: 1px;
                text-align: left;
                font-size: 1.5rem;
                padding: .4rem 1.5rem;
                color: #444;
                border-radius: 50vw;
                margin: .2rem 0;
                &:hover{
                    background-color: $primary-color;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
}
// Navbar END


// Home START
.center__component{
    max-width: 50%;
    width:100%;
    background-color: #fff;
    margin: 2rem;
    overflow: hidden;
    scrollbar-width: none;
}
// Home END

// Post START
.post__main{
    background-color: #f6f6f6;
    margin: 1rem auto;
    max-width: 80%;
    border-radius: 15px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem 0;
    .image__slider{
        width: 80%;
        background-color: #f6f6f6;
        margin: auto;
    }
}
// Post END

// Login START
.login__main{
    max-width: 70%;
    width:100%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;

    .login__form{
        width: fit-content;
        padding: 2rem;
        h1{
            text-align: center;
            transform: translateX(-100px);
            margin-bottom: 3rem;
            color: $primary-color;
        }

        .f__login{
            display: flex;
            img{
                width: 50%;
            }
            form{
                margin: 1.2rem 0;
                padding: 1rem;
                margin-left: 1rem;
                max-width: 100%;
                width: 100%;
                label{
                    font-size: 1.3rem;
                }
                input{
                    display: block;
                    font-family: 'Nunito', sans-serif;
                    margin-top: .2rem;
                    margin-bottom: 1rem;
                    font-size: 1rem;
                    outline: none;
                    border: none;
                    padding: .6rem;
                    border-radius: 0px 0px 7px 7px;
                    border: 2px solid $primary-color;
                    border-top: none;
                    width: 70%;
                }
                small{
                    display: inline-block;
                    margin: 1rem 0;
                }
            }
        }
    }
}
//Login END

// mobile START
@media (max-width:520px){
    body{
        overflow: hidden;
    }
    .menu__icon{
        display: block;
        position: absolute;;
        top: 1rem;
        right: 1rem;
        z-index: 1000;
        color: #444;
    }
    .app-container{
        flex-direction: column;
        transform: scaleX(1), scaleY(1);
        margin: .2rem;
        padding: 0;
        border-radius: 7px;
        overflow: hidden;
    }
    .main__nav{ 
        min-width: 100%;
        padding: 1rem;
        height: 5rem;
        margin: 0;
        .navbar__logo{
            margin: 1rem;
            width: 40%;
            padding: 0;
            margin: 0;
        }
        ul{
            transform: translateX(100%);
            transition: transform 400ms ease-in-out;
            padding: 0;
            margin: 0;
            position: absolute;
            top: -2rem;
            right: 0;
            padding-right: 6rem;
            padding-left: 2rem;
            padding-top: 6rem;
            height: 100%;
            z-index: 999;
            background-color: #fff;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
            li{
                margin: 1.6rem 0 !important;
            }
        }
    }

    // 
    .center__component{
        max-width: 100%;
        margin: 0;
    }
    // 
    .post__main{
        max-width: 90%;
        .image__slider{
            width: 95%;
        }
    }

    // Login START
    .login__main{
        overflow-y: scroll;
        max-width:100%;
        display: block;
        padding: 0;
        .login__form{
            width: 100%;
            h1{
                transform: translateX(0);
                margin-bottom: 0;
            }
            .f__login{
                flex-direction: column-reverse;
                img{
                    width: 100%;
                }
                form{
                    margin-left: 0;
                    input{
                        width: 100%;
                    }
                }
            }
        }
    }
//Login END

}
// Mobile END