@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap'); // font-family: 'Titillium Web', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap'); // font-family: 'Dosis', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap'); // font-family: 'Comfortaa', cursive;
@import './colors.scss';
@import './utils.scss';

$primary-color: #a0e4b0;
$secondary-color: #A8EB12;
// box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
// linear-gradient(to right, #a0e4b0, #97e898, #96ea79, #9ceb54, #a8eb12);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input, textarea{
    display: block;
    margin: .5rem;
    padding: .5rem;
    font-size: 1.1rem;
}

body{
    font-family: 'Nunito', sans-serif;
    background-image: linear-gradient(to right top, #a0e4b0, #97e898, #96ea79, #9ceb54, #a8eb12);
    color: #333;
    overflow-y: hidden;
    overflow-x: hidden;
}

.app-container{
    display: flex;
    background-color: #fff;
    border-radius: 7px;
    margin-top: .25rem;
    transform: scaleX(.98) scaleY(.98);
    height: 98.5vh;
}

.menu__icon{
    display: none;
}

// Navbar START
.main__nav{
    max-width: 20%;
    .navbar__logo{
        margin: 1rem;
        width: 65%;
    }
    .navbar{
        padding: 1rem;
        background-color: #fff;
        margin: .4rem;
        padding: 1.5rem;
        border-radius: 40px;
        ul{
            margin-top: 1.3rem;
            list-style: none;
            li{
                text-decoration: none;
                width:fit-content;
                font-style: none;
                font-weight: 600;
                letter-spacing: 1px;
                text-align: left;
                font-size: 1.5rem;
                padding: .4rem 1.5rem;
                color: #444;
                border-radius: 50vw;
                margin: .2rem 0;
                &:hover{
                    background-image: linear-gradient(to right, #a0e4b0, #97e898, #96ea79, #9ceb54, #a8eb12);
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
}
// Navbar END


// Home START
.center__component{
    max-width: 50%;
    width:100%;
    background-color: #fff;
    margin: 2rem;
    overflow: hidden;
    scrollbar-width: none;
}
// Home END

// Post START
.post__main{
    margin: 2.5rem auto;
    max-width: 68%;
    border-radius: 15px;
    // padding: 1.5rem;
    box-shadow: 0px 0px 0px 14px #fff,
                0 1px 10px 18px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: all 500ms ease-out;
    .image__slider{
        width: 100%;
        margin: auto;
    }
    .post__title{
        padding: .3rem 1rem;
    }
    .post__description{
        padding: 0 1rem;
        line-height: 1.2;
    }
    .post__mid__section{
        font-family: 'Titillium Web', sans-serif;
        padding: 0.8rem 1.2rem;
        font-weight: 600;
        color: #777;
        font-size: .96rem;
        div{
            .post__usercount{
                margin-right: .35rem;
            }
        }
    }
    .fa-calendar{
        margin-left: 20px;
    }
    .post__date{
        font-family: 'Comfortaa', cursive;
        margin-left: 5px;
        margin-top: 30px;
        font-weight: 300;
        font-size: .8rem;
        color: #666;
        line-height: 1;
        background-color: #f4f4f4;
        padding: 3px 5px;
        border-radius: 5px;
    }
    .post__expand{
        background-color: $primary-color;
        padding: 5px 10px;
        border-radius: 50vw;
        color: #333;
        font-size: 0.96rem;
        cursor: pointer;
    }
    .address__title{
        margin: 0 1rem;
        margin-top: 1.4rem;

        font-weight: 700;
    }
    .post__address{
        background-color: #f1f1f1;
        padding: .6rem;
        margin: .5rem .9rem;
        border: 1px dashed #999;
        border-radius: 4px;
        margin-bottom: 2rem;
    }
    .instruct__text{
        padding: 0 1rem;
        margin: 1rem 0;
    }
    .red{
        color: red;
    }
    // .post__generate{
    // }
}
// Post END

// Login START
.login__main{
    max-width: 70%;
    width:100%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;

    .login__form{
        width: fit-content;
        padding: 2rem;
        h1{
            text-align: center;
            transform: translateX(-100px);
            margin-bottom: 3rem;
            color: $primary-color;
        }

        .f__login{
            display: flex;
            img{
                width: 50%;
            }
            form{
                margin: 1.2rem 0;
                padding: 1rem;
                margin-left: 1rem;
                max-width: 100%;
                width: 100%;
                label{
                    font-size: 1.3rem;
                }
                input{
                    display: block;
                    font-family: 'Nunito', sans-serif;
                    margin-top: .2rem;
                    margin-bottom: 1rem;
                    font-size: 1rem;
                    outline: none;
                    border: none;
                    padding: .6rem;
                    border-radius: 0px 0px 7px 7px;
                    border: 2px solid $primary-color;
                    border-top: none;
                    width: 70%;
                }
                small{
                    display: inline-block;
                    margin: 1rem 0;
                }
            }
        }
    }
}
//Login END

// Profile Start
.profile__main{
    position: absolute;
    right: 20px;
    top: 30px;
    max-width: 12rem;
    
    .profile__container{
        position: relative;
        padding: 2rem;
        border-radius: 8px;

        .profile__image{
            border-radius: 50vw;
            border: 3px solid $primary-color;
            overflow: hidden;
            img{
                width: 100%;
            }        
        }
        .profile__name{
            text-align: center;
            font-weight: 500;
        }
    }
}
// Profile END

// AddPost Form Start
.addpost__background{
    position: absolute;
    inset: 0;
    background-color: rgba($primary-color, 0.45);
    z-index: 1;
    border-radius: 7px;
    transform: scale(0);
    transition: all 200ms ease-out;
}
.addpost__container{
    z-index: 200;
    position: fixed;
    top: 0;
    left: 50%;
    width: 60%;
    height: 99vh;
    display: flex;
    justify-content: center;
    padding: 1rem;
    transform:scale(0);
    transition: all 200ms ease-out;
    .addpost_form{
        .last_p{
            margin-bottom: 5.5rem;
        }
        background-color: #fff;
        margin-bottom: 5rem;
        h1{
            color: $secondary-color;
        }
        box-shadow: 0px 0px 10px 6px rgba($primary-color, 0.25);
        max-width: 80%;
        width: 100%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        label{
            color: #444;
            padding: 0;
            margin: 0;
        }
        span{
            color: #444;
        }
        .form__group{
            position: relative;
            input, textarea{
                width: 90%;
                outline: none;
                border: none;
                border-bottom: 2px solid #444;
                border-radius: 5px;
                color: #333;
                margin: 2.5rem 0;
                font-size: 0.95rem;

                &:valid ~ label,
                &:focus ~ label{
                    top: -18px;
                    left: 5px;
                    color: $primary-color;
                    font-size: .9rem;

                }
                &:focus{
                    border-bottom: 2px solid $secondary-color;
                    background: rgba($secondary-color, 0.1);
                }
            }
            label{
                position: absolute;
                top: 5px;
                left: 5px;
                font-size: 1.1rem;
                color: #444;
                font-weight: 500;
                transition: all 100ms ease-in-out;
            }
        }
        input[type="file"]{
            margin-bottom: 1rem;
            background-color: $primary-color;
            border: none;
            outline: none;
            border-radius: 50vw;
            padding: 0;
            color: #fff;
            font-size: .8rem;
            &:last-child{
                margin-bottom: 5.5rem;
            }
        }
        ::-webkit-file-upload-button{
            border: none;
            outline: none;
            padding: .5rem;
            background-color: $secondary-color;
            margin-right: 0.4rem;
            padding: 1rem;
            border-radius: 50vw;
            color: #666;
            font-size: .9rem;
            &:hover{
                background-color: darken($color: $secondary-color, $amount: 1.5);
                cursor: pointer;
            }
        }
        
    }
    .form__btns{
        flex-direction: row;
        justify-content: space-around;
        position: absolute;
        bottom: 1rem;
        width: 77%;
        // border: 1px solid red;
        border-radius: 7px;
        background: rgba(255, 255, 255, 0.8);
    }
}
// AddPost Form END

// Loader START

.loader{
    z-index: 5000;
    position: fixed;
    inset: 0;
    background-color: rgba($primary-color, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .image__cont{
            width: 100PX;
            height: 100PX;
            p{
                width: 300px;
                text-align: center;
                margin-top: 1rem;
                font-size: 1.5rem;
                font-weight: 700;
                color: #30b64f;
            }
        }
    }
}

// Loader END
.last_p{
    margin-bottom: 5.5rem;
}

// 
// mobile START
@media (max-width:520px){
    body{
        overflow: hidden;
    }
    .menu__icon{
        display: block;
        position: absolute;;
        top: 1rem;
        right: 1rem;
        z-index: 1000;
        color: #444;
    }
    .app-container{
        flex-direction: column;
        transform: scaleX(1), scaleY(1);
        margin: .2rem;
        padding: 0;
        border-radius: 7px;
        overflow: hidden;
    }
    .main__nav{ 
        min-width: 100%;
        padding: 1rem;
        height: 5rem;
        margin: 0;
        .navbar__logo{
            margin: 1rem;
            width: 40%;
            padding: 0;
            margin: 0;
        }
        ul{
            transform: translateX(100%);
            transition: transform 400ms ease-out;
            padding: 0;
            margin: 0;
            position: absolute;
            top: -2rem;
            right: 0;
            padding-right: 6rem;
            padding-left: 2rem;
            padding-top: 6rem;
            height: 100%;
            z-index: 999;
            background-color: #fff;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
            li{
                margin: 1.6rem 0 !important;
            }
        }
    }

    // 
    .center__component{
        max-width: 100%;
        margin: 0;
    }
    // Post Start
    .post__main{
        transition: all 400ms ease-out;
        max-width: 85%;
        box-shadow: 0 0px 0px 15px #fff,
                0 1px 10px 18px rgba(0, 0, 0, 0.10);
        .image__slider{
            width: 100%;
        }
        .post__description{
            font-size: .94rem;
        }
        .post__mid__section{
            font-family: 'Titillium Web', sans-serif;
            padding: 0.8rem 1.2rem;
            font-weight: 600;
            color: #777;
            font-size: .99rem;
        }
    }

    // Login START
    .login__main{
        overflow-y: scroll;
        max-width:100%;
        display: block;
        padding: 0;
        .login__form{
            width: 100%;
            h1{
                transform: translateX(0);
                margin-bottom: 0;
            }
            .f__login{
                flex-direction: column-reverse;
                img{
                    width: 100%;
                }
                form{
                    margin-left: 0;
                    input{
                        width: 100%;
                    }
                }
            }
        }
    }
    //Login END

    // Profile Start
    .profile__main{
        right: 35px;
        top: -18px;
        max-width: 100px;
        .profile__container{
            .profile__image{
                border-radius: 50vw;
                border: 1px solid $primary-color;
                img{
                    width: 100%;
                }        
            }
            .profile__name{
                display: none;
            }
        }
    }
    // Profile END

    // AidMan Start
    .aidman__main{
        button{
            top:3rem
        }
    }
    // AidMan END

    // AddPost Start
    .addpost__container{
        z-index: 3000;
        width: 100%;
        padding: .5rem;
        .addpost_form{
            max-width: 100%;
            width: 100%;
        }
        .form__btns{
            width:97%
        }
    }
    // AddPost END
}
// Mobile END

// 
.carousel .control-dots {
    z-index: 0;
}