.active{
    color: $primary-color !important;
    &:hover{
        color: #fff !important;
    }
}
img{
    width: 100%;
}
.block{display: block;}


.my-1{margin: 1rem 0;}
.my-1-5{margin: 1.5rem 0;}
.my-2{margin: 2rem 0;}
.my-2-5{margin: 2.5rem 0;}

.mx-1x{margin: 0 5px;}

.mx-1{margin: 0 1rem ;}
.mx-1-5{margin:0 1.5rem ;}
.mx-2{margin: 0 2rem ;}
.mx-2-5{margin:0 2.5rem ;}

.btn-center{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.flx{
    display: flex;
}
.flx-end{
    justify-content: flex-end;
}
.flx-between{
    justify-content: space-between;
}
.flx-al-center{
    align-items: center;
}
.head__text{
    font-size: 2.5rem;
}
.txt__center{
    text-align: center;
}
textarea{
    display: block;
}
.btn{
    padding: .7rem 2rem;
    border: none;
    font-size: 1.1rem;
    border-radius: 50vw;
    cursor: pointer;
}
.red{
    color: red;
}
.green {
    color: green;
}

.btn-primary{
    // background-color: $primary-color;
    background-image: linear-gradient(to right, #a0e4b0, #97e898, #96ea79, #9ceb54, #a8eb12);
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    &:hover{
        background-color: darken($primary-color, 15%);
    }
}

.btn-primary-clr{
    background-color: $primary-color;
    // background-image: linear-gradient(to right, #a0e4b0, #97e898, #96ea79, #9ceb54, #a8eb12);
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    &:hover{
        background-color: darken($primary-color, 15%);
    }
}